{% extends 'users/layout.html' %}

{% block title %}Login Page{% endblock title%}

{% load crispy_forms_tags %}

{% block content %} 
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <h1>Login</h1>
            <br>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="form-group bg-light p-4">
                <form method="post">
                    {% csrf_token %}
                    {{form |crispy }}
                    <br>
                    <button class="btn btn-success">
                        Login
                    </button>
                    <br> <br>
                    <p>
                        Don't have an account ? Register one  <a href="{% url 'register' %}">here</a> !
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock content%}

