{% extends 'users/layout.html' %}

{% block title %}Registration Page{% endblock title%}

{% load crispy_forms_tags %}

{% block content %} 
    <div class="container">
        <h1>Register an account</h1>
        <br>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{form | crispy }}
                <button class="btn btn-success">
                    Register
                </button>
            </form>
        </div>
    </div>
{% endblock content%}

