<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Iulian's Social Club</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link btn-outline-success rounded m-1" aria-current="page" href="/">Home</a>
          </li>

          {% if user.is_authenticated %}
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link btn-outline-success rounded m-1" href="/admin">Admin</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link btn-outline-success rounded m-1" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link btn-outline-success rounded m-1" href="{% url 'login' %}">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link btn-outline-success rounded m-1" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>